<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} [%thread] %-5level %logger{40}.%M\(%L\) |%mdc| %message%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="business" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.springframework" level="INFO"/>

    <logger name="com.search.engine.property" level="DEBUG" />

</configuration>